<div class="container" style="width:100%">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>
				<span class="label label-info"> {{parameter.Name}} Details </span>
			</h3>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<tbody >
			  <tr>
				<td>Today's Water Access </td>
				<!-- <td>{{parameter.WaterAccess}}</td> -->
				<td>
					<span ng-show="parameter.WaterAccess== 'true'">
						<img src="/images/icons/residentWaterSuccess.png" height="30px" width="30px"> </img>
			  		</span>
			  		<span ng-show="parameter.WaterAccess!= 'true'">
						<img src="/images/icons/residentWaterFailed.png" height="30px" width="30px"> </img>
			  		</span>
			  	</td>
			  </tr>
			  <tr>
				<td>Water Source ID</td>
				<td>
					<span ng-show="parameter.WaterSourceID" class="label label-success">
						{{parameter.WaterSourceID}}
					</span>	
				</td>
			  </tr>
			  <tr>
				<td>Days Of Access</td>
				<td>
					<span class="badge">
						{{parameter.DaysOfAccess}}
					</span>
				</td>
			  </tr>
			  <tr>
				<td>
					Contaminated ?
				</td>
				<td>
					<span ng-show="parameter.Contamination == 'true'">
						<!-- {{parameter.Contamination}} -->
						<img src="/images/icons/residentWaterFailed.png" height="30px" width="30px"> </img>
					</span>
					<span ng-show="parameter.Contamination == 'false'" >
						<!-- {{parameter.Contamination}} -->
						<img src="/images/icons/residentWaterSuccess.png" height="30px" width="30px"> </img>
					</span>
				</td>
			  </tr> 
			  <tr>
				<td>BudgetBalance</td>
				<td>{{parameter.BudgetBalance}}</td>
			  </tr>
			</tbody>
		</table>
	</div>
</div>