<div class="container" style="width:100%">
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>
				<span class="label label-info"> {{parameter.Name}} Details </span>
			</h3>
		</div>
	</div>
	<div class="row">
	<table class="table">
	
			<tr>
				<td>WaterSourceID</td>
				<td>
					<span class="label label-success">
						{{parameter.WaterSourceID}}
					</span>	
				</td>
			</tr>
			
			<tr>
				<td>
					Metered ?
				</td>
				<td>
					<span ng-show="parameter.Metered == 'false'">
						<!-- {{parameter.Metered}} -->
						<img src="/images/icons/wrong.png" height="30px" width="30px"> </img>
					</span>
					<span ng-show="parameter.Metered == 'true'">
						<!-- {{parameter.Metered}} -->
						<img src="/images/icons/right.png" height="30px" width="30px"> </img>
					</span>
				</td>
			</tr>

			<tr>
				<td>
					Instrumented ?
				</td>
				<td>
					<span ng-show="parameter.Instrumented == 'false'">
						<!-- {{parameter.Instrumented}} -->
						<img src="/images/icons/wrong.png" height="30px" width="30px"> </img>
					</span>
					<span ng-show="parameter.Instrumented == 'true'">
						<!-- {{parameter.Instrumented}} -->
						<img src="/images/icons/right.png" height="30px" width="30px"> </img>
					</span>
				</td>
			</tr>

			<tr>
				<td>
					OperatingHours
				</td>
				<td>
					Start Time :  {{parameter.OperatingHours.StartTime}}
					<br/>
					End Time   :  {{parameter.OperatingHours.EndTime}}
				</td>
			</tr>

			<tr>
				<td>
					Staffing ?
				</td>
				<td>
					<span ng-show="parameter.Attendant == 'false'" >
						<!-- {{parameter.Attendant}} -->
						<img src="/images/icons/noStaff.png" height="30px" width="30px"> </img>
					</span>
					<span ng-show="parameter.Attendant == 'true'">
						<!-- {{parameter.Attendant}} -->
						<img src="/images/icons/staff.png" height="30px" width="30px"> </img>
					</span>
					
				</td>
			</tr>
			<!--
			<tr>
				<td>
					WaterRevenue 
				</td>
				<td>
					{{parameter.WaterRevenue}}
				</td>
			</tr>
			-->
			<tr>
				<td>
					UnitPrice 
				</td>
				<td>
					{{parameter.UnitPrice}}
				</td>
			</tr>
			<tr>
				<td>
					QueueSize 
				</td>
				<td>
					{{parameter.QueueSize}}
				</td>
			</tr>
		</table>
	</div>
</div>